* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;
    font-size: 14px;
    color: #333;
    background-color: #f5f5f5;
}

.el-menu {
    border-right: none !important;
}

.el-drawer__body {
    padding: 20px !important;
}